html,
body {
  background-image: url(../images/crew/background-crew-desktop.jpg);
}
/* fonts */
h1 {
  font-size: 5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin: 0;
}

h5 {
  font-size: 2.8rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 0;
  margin: 0;
}

h6 {
  font-size: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 0;
  margin-right: 3rem;
}

/*main container*/
.middle_container {
  display: flex;
  margin-left: 9rem;
  align-items: center;
}

/*left part*/
aside.left {
  flex-basis: 55%;
}

.section_name {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.selection_name_code {
  color: #fff;
  opacity: 0.25;
}

p {
  margin-bottom: 6rem;
  margin-top: 1rem;
}

.text {
  line-height: 1.5;
  word-spacing: 3px;
  font-size: 1.7rem;
  width: 65%;
}

.serial_number {
  width: 30%;
  display: flex;
}

/*right part*/
aside.right {
  height: 83vh;
  display: flex;
  flex-basis: 45%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.selected {
  display: flex;
  padding-bottom: 6.25rem;
}

.selectedSubMenu {
  background-color: #fff;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.unselectedSubMenu {
  background-color: #fff;
  opacity: 0.25;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

/*Adaptation - Tablet*/
@media screen and (max-width: 1024px) {
  /*main container*/
  .middle_container {
    display: flex;
    flex-direction: column;
    margin-left: 2.4rem;
  }

  /* left side- text */
  aside.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section_name {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    align-self: flex-start;
  }

  .selected {
    margin-bottom: 1.5rem;
    padding: 0;
  }

  /*right side - image*/
  aside.right {
    display: flex;
    justify-content: center;
  }

  /*text && fonts*/
  h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  .text {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
    padding: 0;
  }
}

/*Adaptaion- Mobile*/
@media screen and (max-width: 600px) {
  .job {
    width: 100%;
    text-align: center;
  }
  .name {
    width: 100%;
    text-align: center;
  }

  .section_name {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    align-self: center;
  }

  h1 {
    font-size: 1.6rem;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  h2 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.25rem;
  }

  .nav_menue {
    top: +100%;
  }

  .middle_container {
    flex-direction: column-reverse;
    margin-right: 2.4rem;
  }

  .img_frame {
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .img_frame img {
    height: 70%;
    width: 70%;
  }
}
