body {
  background-image: url(/images/destination/background-destination-desktop.jpg);
}

.middle_container {
  display: flex;
  align-items: space-around;
  justify-items: space-between;
  padding-top: 2rem;
  padding-bottom: 10rem;
  padding-right: 12rem;
}

aside.left {
  /* background-color:chartreuse; */
  padding: 1.5rem;
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5rem;
}
.img-europa {
  width: 100%;
}

aside.right {
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  flex-wrap: wrap;
}

.pick {
  display: flex;
}
.travel_info {
  display: flex;
  /* background-color: rgb(196, 61, 61); */
  margin-top: 5rem;
  font-size: 1.8rem;
}
.time {
  margin-left: 10rem;
}

div p {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1168px) {
  .middle_container {
    display: block;
  }

  .img-europa {
    margin-top: 5rem;
  }
}
