body {
  background-image: url("../images/home-img/background-home-desktop.jpg");
}

.middle_container {
  padding: 0 0 5rem 8rem;
  margin-top: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left_part {
  flex-basis: 45%;
}
.right_part {
  padding-top: 8rem;
  flex-basis: 30%;
}

.explore_text {
  background-color: aliceblue;
  color: black;
  font-size: 2rem;
  font-family: "Bellefair", serif;
  letter-spacing: 2px;
  text-transform: uppercase;

  width: 15rem;
  height: 15rem;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* fonts - see shared.css */
/* text - see shared.css */
.text_home {
  width: 90%;
}

/*Adaptation- Tablet*/
@media screen and (max-width: 1024px) {
  body {
    background-image: url(../images/home-img/background-home-tablet.jpg);
  }

  hr {
    display: none;
  }

  .middle_container {
    flex-direction: column;
    margin: 9.9rem 6.6rem 9.9rem 5.6rem;
    padding: 0;
    display: flex;
  }

  .right_part {
    padding: 0;
    margin-top: 12.75rem;
  }
  .left_part {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p.text_home {
    margin-top: 2rem;
  }
}

/*Adaptation - mobile*/
@media screen and (max-width: 600px) {
  body {
    margin: 0;
    background-image: url(../images/home-img/background-home-mobile.jpg);
  }
  .middle_container {
    padding: 0rem;
    margin: 1.5rem 3rem 1.5rem 3rem;
  }

  .left_part {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .explore_text {
    width: 10rem;
    height: 10rem;
  }
  p.text_home {
    margin-top: 1rem;
  }
}
