body {
  background-image: url(/images/destination/background-destination-desktop.jpg);
}

.middle_container {
  display: flex;
  align-items: space-around;
  justify-items: space-between;
  margin: 2rem 5rem;
  /* padding-top: 2rem;
  padding-bottom: 10rem;
  padding-right: 12rem; */
}

aside.left {
  /* background-color:chartreuse; */
  padding: 1.5rem;
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.img-europa {
  width: 100%;
}

aside.right {
  margin: 4rem 6rem 4rem 3.5rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  flex-wrap: wrap;
}

.pick {
  display: flex;
}
.travel_info {
  display: flex;
  margin-top: 5rem;
  font-size: 1.8rem;
}
.time {
  margin-left: 10rem;
}

div p {
  padding: 0;
  margin: 0;
}


/*Adaptation - Smaller screens*/
@media screen and (max-width: 1280px) {
  body {
   margin: 4rem 6rem;
  padding: 0;
  }
  
  
aside.right {
  margin-right: 3rem;
  }
 .travel_info {
   /* margin-left: 3rem; */
}
}
/*Adaptation - Tablet*/
@media screen and (max-width: 960px) {
  .middle_container {
    display: block;
  }
  .img-europa {
    margin-top: 5rem;
  }
}
/*Adaptation - Mobile*/