
body {
  background-image:url(../images/destination/background-destination-desktop.jpg);
}

.middle_container {
  display: flex;
}

aside.left {
  padding: 3.2rem 9.8rem 7rem 9rem;
  /* background-color:blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h5 span {
  opacity: 0.25;
  padding: 0 0 1.75rem 0 rem;
}

.img-data {
    padding-top: 6rem;
    padding-left: 4rem;
    height: 27rem;
    width: 27rem;
  }

aside.right {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  flex: 1 1 50%;
  flex-wrap: wrap;
  padding-top: 7.8rem;
}

.pick {
  width: 60%;
  display: flex;
  justify-content: space-between;
  justify-self: flex-start;
}
.choose_planet {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  padding-bottom: 2.3rem;
}

p.text_planets{
  width: 90%;
}

hr.planet_info{
  background-color:white;
  border: 1 solid white;
  opacity: 0.25;
  width: 90%;
  margin-top: 3rem;
  margin-right: 9rem;
}
.travel_info {
  display: flex;
  margin-top: 3rem;
  font-size: 1.8rem;
}
.time {
  margin-left: 10rem;
}

div p {
  padding: 0;
  margin: 0;
}
/* text -  see shared.css*/


/*Adaptation - Tablet*/
@media screen and (max-width: 1024px) {
  body {
    margin: 4rem 6rem;
    padding: 0;
  }
  aside.left {
    margin-left: 2.4rem;
    margin-top: 2.5rem;
    padding: 0;
    width: 100%;
  }
  aside.right {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pick{
    width: 37%;
  }
  .travel_info {
    font-size: 1.4rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items:center

  }
  .time{
    margin: 0;
  }
  
  hr.planet_info {
    margin: auto;
    margin-top: 3.1rem;
  }
  .middle_container {
    flex-direction: column;
    align-items:center

  }
  
  /*image*/
  .img-data {
    padding: 0;
    margin:  2.3rem auto 3.3rem auto;
    height: 18.7rem;
    width: 18.7rem;
  }

  img.img-planet{
   height: 18.7rem;
    width: 18.7rem;
  }
  /*time && distance*/
  p.subheading_1{
    font-size: 0.85rem;
    line-height: 1.1rem;
    letter-spacing: 2.36px;
  }
  p.subheading_2{
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: 2.36px;
    margin-bottom: 3.9rem;
  }
}
/*Adaptaion- Mobile*/
@media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  .middle_container {
    margin: 1.5rem;
    flex-direction: column;
  }

  aside.left {
    align-items: center;
    margin-left: 0;
    margin-top: 0.5rem;
  }
  /*image*/
  .img-data{
    margin: 0;
    padding-bottom: 1.6rem;
    height: 10.5rem;
    width: 10.5rem;

  }

  img.img-planet{
    height: 10.6rem;
    width: 10.6rem;
  }
  aside.right {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0;
    margin: 0;
  }

  .choose_planet {
  font-size: 0.9rem;
  line-height: 1.1rem;
  letter-spacing: 2.36px;
  padding-bottom: 1.2rem;
}

  .pick {
    padding: 0;
    display: flex;
    width: 63%;
  }
  p.text_planets{
    margin: 0;
    padding: 0;
  }

  hr.planet_info {
    width: 95%;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
  .travel_info { 
    margin-top: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .distance{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0rem;
    margin-bottom:0;
  }
  p.subheading_2{
    margin-bottom: 2rem;
  }
}