body {
  width: 90%;
  background-image: url(../images/destination/background-destination-desktop.jpg);
}

.middle_container {
  display: flex;
  align-items: space-around;
  justify-items: space-between;
  margin: 2rem 3rem;
}

aside.left {
  padding: 1.5rem;
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.img-europa {
  width: 100%;
  margin-top: 3rem;
}

.img-mars {
  width: 100%;
  margin-top: 3rem;
}

aside.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 50%;
  flex-wrap: wrap;
  padding-left: 10rem;
}

.pick {
  width: 75%;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}
.travel_info {
  display: flex;
  margin-top: 5rem;
  font-size: 1.8rem;
}
.time {
  margin-left: 10rem;
}

div p {
  padding: 0;
  margin: 0;
}

/*Adaptation - Smaller screens*/
@media screen and (max-width: 1280px) {
  body {
    margin: 4rem 6rem;
    padding: 0;
  }
  aside.right {
    margin-right: 3rem;
  }
  .travel_info {
    font-size: 1.4rem;
  }
}
/*Adaptation - Tablet*/
@media screen and (max-width: 960px) {
  .middle_container {
    display: block;
  }
  .img-europa {
    margin-top: 5rem;
    height: 80%;
    width: 80%;
  }
}
/*Adaptaion- Mobile*/
@media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  .middle_container {
    margin: 1rem;
  }

  aside.left {
    align-items: center;
  }
  aside.right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0 1rem;
  }

  .pick {
    padding: 0;
    display: flex;
    width: 50%;
  }
  .travel_info {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 100%;
    justify-content: space-around;
  }

  p {
    font-size: 0.8rem;
  }
  .time {
    margin-left: 1.1rem;
  }
}
