/* body */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
}

.mobile_menu_panel {
  display: none;
}

.menu_item {
  display: none;
}

/* links */
a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: rgb(140, 231, 235);
  text-decoration: underline;
}

/* upper container && navigation menu */
hr {
  background-color: rgba(71, 63, 63, 0.396);
  border: none;
  height: 2px;
  flex-basis: 45%;
  margin-left: 3rem;
}
span {
  margin-right: 0.1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.upper_container {
  display: flex;
  align-items: center;
  padding: 3rem 0 0 3rem;
  height: 6rem;
}
.nav_menue {
  width: 65%;
  background-color: rgb(128, 128, 128, 0.2);
  color: aliceblue;
  font-size: 1.6rem;
  padding: 0.7rem 0;
}

.nav_menue_item {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.secondary_menu {
  position: absolute;
  list-style-type: none;
  display: none;
  padding-inline-start: 32px;
}

nav ul li:hover > ul {
  display: block;
}

nav ul ul li {
  position: relative;
  padding: 0.2rem;
  top: 0px;
}

/*Adaptation - Tablet*/
@media screen and (max-width: 1024px) {
  .logo {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
  }
  .nav_menue {
    width: 62%;
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.9rem;
    line-height: 1rem;
    text-transform: uppercase;
    display: block;
  }
  nav span {
    display: none;
  }

  hr.central {
    display: none;
  }

  .text {
    line-height: 1.3;
    word-spacing: 3px;
    font-size: 1.3rem;
    width: 90%;
  }
}

/*Adaptaion- Mobile*/
@media screen and (max-width: 600px) {
  html {
    margin: 0;
    padding: 0;
  }

  body {
    position: relative;
  }

  h1 {
    font-size: 3rem;
    width: 90%;
  }

  h4 {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 3px;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  /*menu*/
  .nav_menue {
    position: absolute;
    bottom: 0.1rem;
    left: 0;
    width: 100%;
    font-size: 0.9rem;
    padding: 0.1rem 0;
  }

  span {
    margin: 0;
    padding-left: 0.5rem;
  }

  /*hamburger menu*/
  .menu_item {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    height: 21px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 24px;
    height: 3px;
    background-color: aliceblue;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1,
  .change .bar2,
  .change .bar3 {
    opacity: 0;
  }

  /* mobile menu */

  .mobile_menu_panel {
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: #979797;
    opacity: 0.85;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
  }

  .show {
    display: flex;
    transition: all 0.5s ease-out;
    width: 70%;
  }
  .hide {
    display: none;
    transition: all 0.5s ease-out;
    width: 0%;
  }

  .mob_menu {
    width: 100%;
    margin-top: 6rem;
  }

  .mob_menu_item,
  li span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    font-size: 1rem;
    line-height: 2.3rem;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
  }

  li span {
    margin-right: 0.3rem;
  }
  .item_link {
    display: flex;
    opacity: 1;
  }

  .mmp_btn {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-right: 1.7rem;
    cursor: pointer;
  }

  /*text*/
  .text {
    line-height: 1.3rem;
    word-spacing: 2px;
    font-size: 0.8rem;
    margin-top: 2rem;
    width: 100%;
  }
}
